table {
    width: 90%;
    max-width: 1200px;
    border-collapse: collapse;
    background-color: #C51419;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    border-radius: 10px;
    border: 12px solid #C51419;
}

td, th {
    padding: 10px;
    text-align: left;
}

.image-column {
    width: 30%;
    text-align: center;
}

.image-column img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 5px;
    border: solid 10px white;
}

.image-column2 {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 5px;              
}

.image-column2 img {
    width: 110px;           
    height: auto;           
    border-radius: 8px; 
    border: solid 10px white;    
}

.info-column {
    width: 50%;
    background-color: white;
    color: black;
}

.info-column h3 {
    margin: 0 0 10px;
}

.info-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-column ul li {
    margin-bottom: 1px;
}

.price-column {
    width: 20%;
    text-align: right;
    font-size: 18px;
}

.price-column p {
    margin: 5px 0;
}

.button-column {
    text-align: right;
}

.see-more-btn {
    background-color: white;
    color: #C51419;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.see-more-btn:hover {
    background-color: #f7f7f7;
}